---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
posts.sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => 
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// URLを決定するヘルパー関数に型を追加
function getPostUrl(post: CollectionEntry<'blog'>) {
  if (post.data.url) {
    return `/${post.data.url}/`;
  }
  return `/blog/${post.slug}/`;
}
---

<Layout>
  <h1>ブログ記事一覧</h1>
  <ul>
    {posts.map((post: CollectionEntry<'blog'>) => (
      <li>
        <a href={getPostUrl(post)}>
          {post.data.title}
        </a>
        <p>公開日: {post.data.pubDate.toLocaleDateString()}</p>
        {post.data.description && <p>{post.data.description}</p>}
      </li>
    ))}
  </ul>
</Layout>